<header class="header">
    <div class="header-left">
        <img src="../../../assets/cartrackLogo.png" alt="Logo Circular">
    </div>
    <div class="header-center">
        <h1>CarTrack</h1>
    </div>
    <div class="header-right">
        <div class="menu-button">
            <i class="material-icons">menu</i>
        </div>
        <div class="menu" id="menu">
            <ul>
                <li><a href="#">Opción 1</a></li>
                <li><a href="#">Opción 2</a></li>
                <li><a href="#">Opción 3</a></li>
            </ul>
        </div>
    </div>
</header>