<div *ngFor="let car of cars" class="car-list-item" (click)="openModificationForm(car)">
  <img [src]="car.carImages[0].ImageURL" alt="Car Image" class="car-image">
  <div class="car-details">
    <p>{{ car.brand }}</p>
    <p>{{ car.model }}</p>
    <p>{{ car.year }}</p>
    <p>{{ car.cylinderCapacity }}</p>
    <p>{{ car.status }}</p>
  </div>
</div>

<!-- Formulario de modificación -->
<div *ngIf="selectedCar" class="modification-form">
  <form (ngSubmit)="updateCar()">
    <label for="color">Color:</label>
    <input id="color" type="text" [(ngModel)]="selectedCar.color" name="color">
    <label for="city">City:</label>
    <input id="city" type="text" [(ngModel)]="selectedCar.city" name="city">
    <label for="soatDate">SOAT Date:</label>
    <mat-form-field>
      <input matInput [matDatepicker]="soatPicker" [(ngModel)]="selectedCar.soatDate" name="soatDate">
      <mat-datepicker-toggle matSuffix [for]="soatPicker"></mat-datepicker-toggle>
      <mat-datepicker #soatPicker></mat-datepicker>
    </mat-form-field>
    <label for="tecnoDate">Tecno Date:</label>
    <mat-form-field>
      <input matInput [matDatepicker]="tecnoPicker" [(ngModel)]="selectedCar.tecnoDate" name="tecnoDate">
      <mat-datepicker-toggle matSuffix [for]="tecnoPicker"></mat-datepicker-toggle>
      <mat-datepicker #tecnoPicker></mat-datepicker>
    </mat-form-field>
    <button type="submit">Guardar Cambios</button>
  </form>
</div>

