<div class="main-container">
  <div class="imagesContainer">
  </div>
  <div class="carInfo">
    <div>
      <h1>{{car.brand}}</h1>
    </div>
    <div>
      <h2>{{car.model}}</h2>
    </div>
    <div>
      <p>{{car.year}}</p>
    </div>
    <div>
      <h3>{{car.year}}</h3>
    </div>
  </div>
  <div class="sellInfo">

  </div>

</div>


<!-- <div class="product-container">

  <div class="mainContainer">
      <div class="imagesContainer">
          <div class="selectedImageContainer">
              <img [src]="car.images[0].ImageURL" [alt]="car.images[0].ImageURL">
          </div>
          <div class="secondaryImages">
              <div class="secondary-image">
                  <img src="{{car.images[0].ImageURL}}" alt="Secondary Image" >
              </div>
              <div class="secondary-image">
                  <img src="{{car.images[1]}}" alt="Secondary Image" >
              </div>
              <div class="secondary-image">
                  <img src="{{images[2]}}" alt="Secondary Image" >
              </div>
          </div>

  <div class="carInfo">
      <div>
          <h1>{{car.brand}}</h1>
      </div>
      <div>
          <h2>{{car.model}}</h2>
      </div>
      <div>
          <p>{{car.year}}</p>
      </div>
      <div>
          <h3>{{car.year}}</h3>
      </div>
      
  </div>
  
</div> -->
