<div class="card-container">
  <mat-card class="card" (click)="navigateTo('/user/registration')" >
      <mat-card-title>Crear Nuevo Usuario</mat-card-title>
      <img src="../../../assets/createuser.png" alt="Crear Usuario">
  </mat-card>

  <mat-card class="card" (click)="navigateTo('/list')">
      <mat-card-title>Actualizar Autos</mat-card-title>
      <img src="../../../assets/updatecar.png" alt="Actualizar Autos">
  </mat-card>

  <mat-card class="card" (click)="navigateTo('/clients')">
      <mat-card-title>Listar Clientes</mat-card-title>
      <img src="../../../assets/clientes.png" alt="Listar Clientes">
  </mat-card>

  <mat-card class="card"  (click)="navigateTo('/general/report')">
      <mat-card-title>Reportes Generales</mat-card-title>
      <img src="../../../assets/reportes.png" alt="Reportes Generales">
  </mat-card>

</div>